* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vh;
    height: 100vh;
    background-color: rgb(112, 128, 144);
    color: white;
    background-size: contain;
    overflow: hidden;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
}